@model TagsViewModel

@{
    ViewData["Title"] = "Tags";
}


<div class="row">
    <div class="col-md-4">
        <h4>Create New Tag</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.NewTag.Name" class="control-label"></label>
                <input asp-for="@Model.NewTag.Name" class="form-control" />
                <span asp-validation-for="@Model.NewTag.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col">
        <h4>Available Tags</h4>
        <ul>
            @foreach (var item in Model.AvailableTags)
            {
                <li>@item.Name</li>
            }
        </ul>
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
